.venv/
__pycache__/
.pytest_cache/
.streamlit/
data/raw/*.csv
data/processed/*.csv
database/*.db
models/*.joblib
reports/*.png
!data/raw/.gitkeep
!data/processed/.gitkeep
!database/.gitkeep
!models/.gitkeep
!reports/.gitkeep
